
html, body, #root { height: 100%; margin: 0;  width: 100%; }

body {
  background-color: transparent !important; /* defeat MUI's background.default */
}

body::before {
  content: "";
  position: fixed;
  inset: 0;                 /* top:0; right:0; bottom:0; left:0 */
  z-index: -1;              /* sit behind your app */
  background-image: url('/src/assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
